*{
    margin:0;
    padding:0;
    font-family: 'Monospace',cursive;
}
body{
    color:rgb(239, 221, 198);
    background-color:rgb(3, 96, 91);
    text-align: center;
    font-size: 1.2rem;
}

#nav-bar{
    width:100vw;
    height:70px;
    background-color: rgb(29, 1, 8);
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#nav-bar a{
    text-decoration: none;
    margin:25px;
    color:rgb(229, 140, 105);
}
#nav-bar a:hover{
    text-decoration: underline;
    text-shadow: 2px 1px white;

}

h1{
    text-shadow: 2px 1px 5px rgb(159, 210, 76); 
}
h1:hover{
    text-shadow: 2px 1px 10px rgb(241, 201, 24);
} 

#favouriteList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

@media (max-width: 480px) {
    #favouriteList {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 480px) and (max-width: 900px) {
    #favouriteList {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    #favouriteList {
        grid-template-columns: repeat(3, 1fr);
    }
}

.favourite-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid wheat;
    margin: 10px;
    padding: 20px;
}

.favourite-item img {
    width: 40%;
    border-radius: 50%;
    border-color: wheat;
    height: auto;
    border: 2px solid wheat;
}

.favourite-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.favourite-name:hover{
    text-shadow: 2px 1px 5px rgb(159, 210, 76); 
    cursor:default;
}
.favourite-description {
    font-size: 16px;
    margin-top: 10px;
}


button{
    border: 2px solid darkcyan;
    border-radius: 5px;
    font-size: 1rem;
    padding:8px;
    background-color: black;
    margin-top: 5px;
    color:rgb(190, 94, 94);
    cursor: pointer;   
}
button:hover{
    margin-top: 6px;
    background-color: rgb(21, 1, 1);
    border-color: rgb(140, 91, 91);
    box-shadow: 0 0 2px 3px burlywood;
}